* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


/*--Header---*/

header {
    width: 100%;
    background: url('./assets/header_image.png' ) #281a0c;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
}

header .contenedor {
    position: relative;
    height: 700px;
}

header .menu{
    width: 100%;
    text-align: right;
}

header .menu a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    margin: 40px 20px;
    text-decoration: none;
    position: relative;
}

header .menu a:hover {
    text-decoration: underline;
}

header .texto{
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -52px;
}

header .texto .nombre {
    font-size: 50px;
    font-weight: 600;
}

header .texto .nombre span {
    font-weight: 300;
}

header .texto .nombre h3 {
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
}

.main .galeria {
    overflow: hidden;
    margin-top: 52px;
}

.main .galeria .foto {
    width: 25%;
    float: left;
}

.main .galeria .foto img {
    width: 100%;
    vertical-align: top;
    opacity: .7;
}

.main .galeria .foto img:hover  {
    opacity: 1;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.main .ubicacion {
    background: #fff;
    padding: 60px 0;
    overflow: hidden;
}

.main .ubicacion .titulo {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 40px;
}

.main .ubicacion .direccion {
    float: left;
    width: 50%;
    text-align: left;
}

.main .ubicacion .horarios {
    float: right;
    width: 50%;
    text-align: right;
}

.main .ubicacion .direccion .calle {
    margin-bottom: 15px;
}

.main .ubicacion .horarios h4 {
    text-align: center;
    margin-bottom: 20px;
}

.main .ubicacion .horarios .semana,
.main .ubicacion .horarios .finSemana {
    width: 50%;
    float: left;
    text-align: center;
}

.main .mapa {
    width: 100%;
    overflow: hidden;
}

.main .mapa iframe {
    width: 100%;
    max-height: 600px;
}

footer {
    background: #000;
}

footer .copyrigth {
    text-align: center;
    padding: 15px 0;
    color: #fff;
}

.main .contacto .titulo2 {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 40px;
}

.formulario .contenedor-input {
    padding: 20px;
    background: #fff;
    border-radius: 6px 6px 0 0;
   
}

.formulario input[type="text"],
.formulario input[type="email"] {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus {
    border-bottom: 2px solid #246eb9;

}

.formulario input[type="radio"] {
    display: none;
}

.formulario .sexo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.formulario .sexo .hombre {
    border-radius: 3px 0 0 3px;
}

.formulario .sexo .mujer {
    border-radius: 3px 0 0 3px;
}

.formulario .label-radio {
    background: rgba(249, 160, 63, .4);
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 49.5%;
}

.formulario input[type="radio"]:checked + .label-radio {
    background: #f9a03f;
}

.formulario .terminos {
    text-align: center;
    color: #424242;
}

.formulario .terminos label {
    margin-left: 10px;
}

.formulario .error {
    display: none;
    margin-top: 20px;
    border-radius: 3px;
    background: #ce1818;
    color: #fff;
    padding: 15px 10px;
    padding-left: 40px;
}

.formulario .btn {
    text-align: center;
    width: 100%;
    background: #246eb9;
    color: #fff;
    border: none;
    display: block;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 0 0 6px 6px;
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    margin: 20px;
}

.formulario .btn:hover {
    background: #4357a4;
}












